body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-emphasis: bolder;
    color: gainsboro;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    background-image: url("bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5%;
}
/* NAV BAR */

/* BOOTSTRAP TUTORIAL CSS */

.navbar {
    margin-bottom:  0;
    border-radius: 0;
    background-color: black;
    color: blue;
    padding: 1% 0;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    border: 0;
    z-index: 1;
  }
  /* .navbar-brand {
    float: left;
    min-height: 55px;
    padding: 15px 15px 5px;
    font-family: 'Monoton', cursive;
    font-size: 40px; 
    color: white;
  } */
  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:hover {
    color:gainsboro;
    background-color: navy;
  } 
  .navbar-inverse .navbar-nav li a {
    color: royalblue;
  }
  .form-inline {
    float: right;
    margin-top: 8px;
  }
  #myNavbar {
    padding-top: 5px;
  }

/* ORIGINAL NAVBAR CSS */

/* .navbar {
    background-color: rgb(7, 7, 7);
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    height: 71px;
    position: fixed;
    border: none;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}*/

.navbar a:hover {
    background-color: limegreen;
    color: white;
} 

li {
    list-style-type: none;
}

.main-btn {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

#logo-id {
    text-align: right;
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 40px;
}

#search-submit {
    background-color: rgb(21, 1, 105);
    color: white;
}
/* HOME PAGE */

[data-hide="hide"]{
    display:none;
}

.hide{
    display: none;
}



.news-post-holder{
  font-family: 'Roboto', sans-serif;
}

.img-responsive {
    display: block;
    margin-top: 20px;
    width: 100%;
  
  }
  
/* INNER TABS */

div#schedule-box {
    background-color: rgb(7, 7, 7);
    opacity: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    padding-bottom: 1px;
    margin-top: -50px;
}

.section-header {
    font-weight: 400;
    width: 100%;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    color: skyblue;
}
.matchup-col-header,
.time-col-header,
.tickets-col-header {
    background-color: rgb(0, 139, 63);
    color: rgb(241, 252, 244);
    text-align: center
}

th.matchup-col-header {
    width: 50%;
}

th.time-col-header, th.tickets-col-header {
    width: 25%;
}

td {
    vertical-align: middle;
}

table {
    width: 100%;
}

.matchup-time {
    text-align: right;
    margin-right: 75px;
}

.matchup-teams {
    text-align: left;
}

#news {
    background-color: rgb(7, 6, 8);
    color: white;
    margin-top: -60px;
    margin-left: 3px;
}

.content {
    margin-top: 70px;
    margin-left: 70px;
    display: grid;
}
#leagueNews {
    background-color: black;
}

/* SCORE CSS */

#block {
    background-color: #e05915;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 75px;
    size: 17px;
    display: inline-block;
}

/* FOOTER */

footer {
    position: fixed;
    color: limegreen;
    background-color: black;
    font-size: 12px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    bottom: 0;
}

